 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming Languages</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-r-original colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Python R SQL</p>
    </div>
    <div class="tech">
      <h2>Tools & Libraries</h2>
      <i class="devicon-numpy-plain-wordmark colored"></i>
      <i class="devicon-pandas-plain-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>
      <p>Numpy,Pandas,Tensorflow,Scikit-Learn,Matplotlib,Seaborn,Tidyverse,ggplot,caret</p>
    </div>
    <div class="tech">
      <h2>Core Concepts & Skills</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
