<div id="particles-js">
  <div class="header">
      <h1>
        <!-- Empty initially, will be typed by JS -->
        <span id="username" class="site-title"></span> 
        <span id="user-title" class="site-description"></span> 
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<!-- Add the CSS for typing effect and cursor -->
<style>
  
  .site-title, .site-description {
      display: inline-block;  
      position: relative;     
      font-size: 2.5rem;
      font-family: 'Arial', sans-serif;
      color: #333;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      visibility: hidden;     
  }

  /* Add blinking cursor */
  .site-title::after, .site-description::after {
      content: "|";            
      position: absolute;
      right: 0;                 
      top: 0;
      animation: blink 0.7s step-end infinite;  
  }

  /* Blinking effect */
  @keyframes blink {
      50% {
          opacity: 0;            
      }
  }
</style>


<script>
 
   function typeWriter(elementId, text, speed) {
      let i = 0;
      let element = document.getElementById(elementId);
      function type() {
         if (i < text.length) {
            element.innerHTML += text.charAt(i);
            i++;
            setTimeout(type, speed);  
         }
      }
      type();
   }

   window.onload = function() {
      let username = "{{ site.username }}";  
      let userTitle = "{{ site.user_title }}";  

     
      setTimeout(() => {
         typeWriter("username", username, 300);  
         document.getElementById("username").style.visibility = "visible"; 
      }, 100); 

     
      setTimeout(() => {
         typeWriter("user-title", userTitle, 200);  
         document.getElementById("user-title").style.visibility = "visible";  
      }, username.length * 200 + 500); 
   };
</script>
