<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/rsz_pixelcut-export.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Image Classification </h3>
    <ul>
      <li> Featured Skills: </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/m-perera/Image-Classification-/blob/main/Image_Classification.ipynb" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/rsz_switzerland-930868340.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Climate Data </h3>
    <ul>
      <li> Featured Skills: </li>
    </ul>
    <p>In this project, I used the Basel Climate Dataset, which includes 1763 records of 18 climate-related variables from the summer and winter seasons in Basel, Switzerland, from 2010 to 2019. The goal was to ensure clean and consistent data by preprocessing it using techniques such as normalization, outlier detection, feature selection, and missing data handling. After preprocessing, I used at least two clustering algorithms and evaluated the results qualitatively (visualization) and quantitatively (performance metrics). </p>
    <a class="project-link" href="https://github.com/m-perera/Climate-Project/blob/main/Climate.ipynb" target="_blank">Check it out</a>
  </div>
</div>
