<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/rsz_10_kd1e9mkjrrcz4k6b.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Semantic Book Recommender </h3>
    <ul>
      <li> Featured Task/Skills: </li>
    </ul>
    <p>Developed a content-based recommendation engine, improving book discovery by transforming descriptions into mathematical representations and utilizing semantic similarity and zero-shot classification to provide more accurate recommendations.Designed and deployed a user-friendly dashboard with Gradio, enhancing user interaction and making the recommendation system more accessible to non-technical users. Applied NLP and LLM techniques to the 7K Books Dataset, gaining hands-on experience in text-based content matching and machine learning, while building expertise in data preprocessing, vector search, and model deployment.</p>
    <a class="project-link" href="ADD LINK HERE FOR THE GRADIO" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/rsz_pixelcut-export.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Image Classification </h3>
    <ul>
      <li> Featured Task/Skills: </li>
    </ul>
    <p>In this project, I focused on the application of pre-trained Deep Neural Networks (DNNs) to image processing. The goal was to extract feature vectors from image datasets to use for further analysis such as visualization, clustering, and classification. I chose the iRoads and Cats vs Dogs datasets and preprocessed them to ensure compatibility with the ResNet50 model for feature extraction. After extracting the feature vectors, I used dimensionality reduction techniques PCA and UMAP to visualize the data in 2D. I clustered the feature vectors using appropriate algorithms and applied a variety of classifiers, including SVM, XGBoost, and others, and assessed their performance using accuracy, confusion matrices, precision/recall, and the F1 score.</p>
    <a class="project-link" href="https://github.com/m-perera/Image-Classification-/blob/main/Image_Classification.ipynb" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/rsz_switzerland-930868340.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Climate Data </h3>
    <ul>
      <li> Featured Task/Skills: </li>
    </ul>
    <p>In this project, I used the Basel Climate Dataset, which includes 1763 records of 18 climate-related variables from the summer and winter seasons in Basel, Switzerland, from 2010 to 2019. The goal was to ensure clean and consistent data by preprocessing it using techniques such as normalization, outlier detection, feature selection, and missing data handling. After preprocessing, I used at least two clustering algorithms and evaluated the results qualitatively (visualization) and quantitatively (performance metrics). </p>
    <a class="project-link" href="https://github.com/m-perera/Climate-Project/blob/main/Climate.ipynb" target="_blank">Check it out</a>
  </div>
</div>
